<section class="top-rev" ><h3>Highest Revenue: <% @top_revenue.each do |merchant| %></h3>
<h4> <%= merchant.username %> </h4>
<% end %><br/>
</section>
<section class="fast-merch"><h3>Fastest Merchant Fulfillment Times: <% @fast_merch.each do |merchant| %> </h3>
<h4> <%= merchant.username %>: <%= merchant.fulfillment_time %> </h4>
<% end %><br/>
</section>
<section class="slow-merch"><h3>Slowest Merchant Fulfillment Times: <% @slow_merch.each do |merchant| %> </h3>
<h4> <%= merchant.username %>: <%= merchant.fulfillment_time %> </h4>
<% end %><br/>
</section>
<section class="top-states"><h3>Top States by Orders: <% @top_states.each do |user| %> </h3>
<h4> <%= user.state %>: <%= user.count_of_orders %> </h4>
<% end %><br/>
</section>
<section class="top-cities"><h3>Top Cities by Orders: <% @top_cities.each do |user| %> </h3>
<h4> <%= user.city %>:  <%= user.count_of_orders %> </h4>
<% end %><br/>
</section>
<section class="biggest-orders"><h3>Biggest Orders by Quantity: <% @big_orders.each do |order| %> </h3>
<h4> <%= order.order_id %>: <%= order.total_quantity %> </h4>
<% end %><br/>
</section>
<% @merchants.each do |merchant| %>
  <% if merchant.active? %>
    <%= merchant.username %>
    <%= merchant.created_at %>
    <%= merchant.city %>
    <%= merchant.state %>
  <% end %><br/>
<% end %>
