<% flash.each do |type, message|  %>
<% content_tag :div, message, class: type %>
<% end %>

<h1>Welcome, <%= @user.username %>!</h1>
<%= render './show' %>
<%= link_to "Edit My Profile", '/profile/edit' %>

<% if @orders.empty? %>
  <%= link_to "My Orders", '/profile/orders' %>
<% end %>

<% if @orders.cancelled? %>
<section class="cancelled-orders">
  <h3 >Cancelled Orders</h3>
    <% @orders.each do |order| %>
      <p>Order # <%= order.id %></p>
      <% order.items.each do |item|%>
        <p><%= item.name %></p>
      <% end %>
    <% end %>
<% end %>
</section>

<section class="pending-orders">
<h3>Pending Orders</h3>
<% @orders.each do |order| %>
<p>Order # <%= order.id %></p>
  <% order.items.each do |item|%>
    <p><%= item.name %></p>
  <% end %>
<% end %>
</section>
