<%= form_for @item do |f| %>
<h1 class="new_spice_form">Edit a Spice</h1>

  <p><%= f.label :name %></p></p>
  <p><%= f.text_field :name %></p>

  <p><%= f.label :description %></p>
  <p><%= f.text_field :description %></p>

  <p><%= f.label :price %></p>
  <p><%= f.number_field :price, min: 0.00, step: :any %></p>

  <p><%= f.label :stock %></p>
  <p><%= f.number_field :stock, min: 0 %></p>

  <p><%= f.submit %></p>
<% end %>
