<% flash.each do |type, message|  %>
<% content_tag :div, message, class: type %>
<% end %>
<p><%= link_to "My Items", merchant_dashboard_items_path %></p>

<p><%= "Username: #{@merchant.username}" %></p>
<p><%= "Email: #{@merchant.email}" %></p>
<p><%= "Address: #{@merchant.address}" %></p>
<p><%= "City: #{@merchant.city}" %></p>
<p><%= "State: #{@merchant.state}" %></p>
<p><%= "Zip: #{@merchant.zip_code}" %></p>

<h2>Statistics</h2>

  <p>Top 5 Items: <% @items.top_five.each do |item| %></p>
    <p><%= item.name %>, total quantity sold: <%= number_to_currency(item.quantity_sold) %></p>
  <% end %>

  <p class="total-sold">Sold <%= @items_sold %> items, which is <%= @percent_sold %>% of your total inventory.</p>

  <section class="top-states"><p>Top 3 States: <% @top_states.each do |user| %></p>
    <p><%= user.state %></p>
  <% end %>
  </section>
  <section class="top-cities"><p>Top 3 Cities: <% @top_cities.each do |user| %></p>
    <p><%= user.city %></p>
  <% end %>
  </section>
  <section class="top-users"><p>Top Consumer: <% @top_consumer.each do |user| %></p>
    <p><%= user.username %>: <%= user.num_orders %> </p>
  <% end %>
  </section>
  <section class="top-spenders"><p>Top Spenders: <% @top_spenders.each do |user| %></p>
    <p><%= user.username %>: <%= number_to_currency(user.spent) %> </p>
  <% end %>
  </section>  <h2>Pending Orders</h2>
<% @orders.each do |order| %>
<%= link_to "Order # #{order.id}", merchant_dashboard_order_path(order) %>
<p><%= "Order placed at: #{order.created_at}" %></p>
<p><%= "Total Quantity: #{order.total_items}" %></p>
<p><%= "Total Value: #{number_to_currency(order.grand_total)}" %></p>
<% end %>
