
<h1 class="new_spice_form">Order # <%= @order.id %> </h1>

<% flash.each do |type, message|  %>
<%= content_tag :div, message, class: type %>
<% end %>

<h3>User: </h3><p><%= @order.user.username %>, from <%= @order.user.address %></p>
<h3>Order's items:</h3>
  <% @order_items.each do |order_item| %>
  <section id="item-<%= order_item.item.id %>">
    <% if current_user.id == order_item.item.user_id %>
      <ul>
        <img src="<%= order_item.item.image %>" alt="spice image">
        <li><%= link_to "#{order_item.item.name}", merchant_item_path(order_item.item) %> </li>
        <li>Price: <%= number_to_currency(order_item.item.price) %></li>
        <li>Quantity purchased: <%= order_item.item.quantity_sold %></li>
      </ul>
      <% if order_item.item.enough?(order_item.item) %>
        <% unless order_item.fulfilled? %>
          <%= form_for order_item, url: order_item_path(order_item), method: :patch do |f| %>
          <%= f.hidden_field :order_id, value: order_item.order_id %>
          <%= f.hidden_field :fulfilled, value: true %>
          <%= f.submit "Fulfill"%>
          <% end %>
         <% else %>
          <%= "Already fulfilled" %>
         <% end %>
      <% else %>
      <h4 id="notice"><%= "You don't have enough items in inventory" %></h4>
      <% end %>
    <% end %>
  </section>
  <% end %>
