<section class="items-wrapper">
<% @items.each do |item| %>
<section class="items-index" id="item-<%= item.id %>">
<h3><%= link_to(item.name, item_path(item)) %></h3>
<p><%= item.user.username %></p>
<p>Price: <%= item.price %></p>
<%= link_to image_tag(item.image), item_path(item), alt: item.name %>
<p>Stock: <%= item.stock %></p>
</section>
<% end %>
</section>
