<section class="item_information">
<h1>Name: <%= @item.name %></h1>
<img src="<%= @item.image %>" alt="spice image">
<p>Description: <%= @item.description %></p>

<h1>Price: <%= @item.price %></h1>
<h1>Amount available: <%= @item.stock %></h1>
<h1>Merchant: <%= @item.user.username %></h1>
<h1>Average time to fulfill the order: <%= @fulfill_time_avg %></h1>
</section>
<% unless current_admin? || current_merchant? %>
  <%= link_to "Add Item to Cart", item_path(@item) %>
<% end %>
