<p>
  <ul>
    <li>Address: <%= @user.address %></li>
    <li>City: <%= @user.city %></li>
    <li>State: <%= @user.state %></li>
    <li>Zip: <%= @user.zip_code %></li>
    <li>Email: <%= @user.email %></li>

  </ul>

</p>
