<!DOCTYPE html>
<html>
  <head>
    <title>LittleShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if current_admin? %>
      <%=  link_to "All Users", admin_users_path %>
      <%=  link_to "Dashboard", admin_path()%>
    <% end %>


    <%= yield %>
  </body>
</html>
